<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dummy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C38D9217187EC592000C8CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C38D9238187EC592000C8CB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3BB86701884F93A00370006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3BB86861884FA2600370006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
